/* Navbar background */
.custom-navbar {
background-color: #fff;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); /* subtle shadow */
}

/* Brand */
.text-teal {
  color: #4f585e !important;
}
.nav-color{
  color:#4f585e;
}
.nav-color:hover{
  color:#2563EB;
}

/* Nav links */
.navbar .nav-link,
.navbar-brand {
  color: white !important;
}



/* Search input */
.search-input {
  max-width: 300px;
  border: 1px solid #00797a;
  border-radius: 6px;
}

.form-control {
    font-size : 14px ; 
}
.search-input:focus {
  border-color: #2563EB; /* blue accent on focus */
  box-shadow: 0 0 4px rgba(37, 99, 235, 0.4);
}

/* Buttons */
.btn-teal {
  background-color: #4cc1c1;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.btn-teal:hover {
  background-color: #216e6f;
  color: #fff;
}

.btn-outline-teal {
  border: 1px solid #00797a;
  color: #00797a;
  transition: all 0.2s ease-in-out;
}

.btn-outline-teal:hover {
  background-color: #00797a;
  color: #fff;
}

.signup{
  background-color: white;
}