.search-catalog {
  flex: 1;
  padding: 20px;
  background-color: #f9fafb;
}

.search-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.search-header input {
  flex: 1;
  padding: 4px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

.search-header input:focus {
  border-color: #047857;
}

.add-new {
  background-color: #047857;
  color: white;
  border: none;
  padding: 2px 6px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.add-new:hover {
  background-color: #065f46;
}

.medicine-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 5px;
}

.medicine-card {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.medicine-card h3 {
  color: #047857;
  margin-bottom: 5px;
}

.add-btn {
  background-color: #10b981;
  color: white;
  border: none;
  padding: 3px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.3s;
}

.add-btn:hover {
  background-color: #059669;
}
.no-medicine h1{
 font-size: medium;
 color: rgb(233, 78, 78);
}

